<!-- page that opens on click of new item button from items page, category is set by page-->

{% extends "main.html" %}
{% block content %}

<h2> Add New Item for {{category.name}} </h2>

<form action="#" method = "post">
	<label for="name">Name:</label>
	<input type ="text" class="form-control" maxlength="100" name="name">
	<div class="padding-bottom"></div>
	<label for="description">Desc :</label>
					<textarea class="form-control" maxlength="1250" rows="3" 
					style="width: 900px" name="description" placeholder="Description of the course"></textarea>
	<button id ="buttoneditdelete" id="submit" type="submit">
	Create</button>
</form>













{% endblock %}